.admin-layout{
    display:flex;
    min-height:100vh;
    background:var(--background);
    height:100vh;
    overflow:hidden;
    background:#f5f7fb;
}

.admin-content{
    flex:1;
    overflow-y:auto;
    padding:35px;
}